
<!-- Projects Section -->
<div class="flex-col mx-auto glass hero-content">
  <h3 class="text-left text-2xl">Portfolio</h3>
</div>

<section class="flex-col lg:flex-row mx-auto glass hero-content">
  
  <div class="card lg:card-side bg-base-100">
    <figure><img src="https://img.daisyui.com/images/stock/photo-1494232410401-ad00d5433cfa.jpg" alt="Album"/></figure>
    <div class="card-body w-36">
      <h2 class="card-title">
        Bessie + Beau
      </h2>
      <span class="prose text-sm lg:text-base break-words">
        Bessie + Beau is a full-stack e-commerce application for a luxury women fashion and beauty store. 
        It provides the functionality to process orders and accept payments.
      </span>
      
      <div class="text-center justify-center">
        <p class="badge badge-primary">Technology Stack:</p>
      </div>
      <div class="text-center justify-end">
        <div class="badge badge-outline">Python</div> 
        <div class="badge badge-outline">JavaScript</div>
        <div class="badge badge-outline">Django</div>
        <div class="badge badge-outline">Tailwind CSS</div>
        <div class="badge badge-outline">DaisyUI</div>
        <div class="badge badge-outline">MySQL</div>
      </div>
    </div>
  </div>

  <div class="card lg:card-side bg-base-100">
    <figure><img src="https://img.daisyui.com/images/stock/photo-1494232410401-ad00d5433cfa.jpg" alt="Album"/></figure>
    <div class="card-body w-36">
      <h2 class="card-title">
        CuisinePlus
      </h2>
      <span class="prose text-sm lg:text-base break-words">CuisinePlus is an online restaurant reservation platform for diners. 
        It provides full CRUD functionality reservations: users can create, read, update, and delete reservations.</span>
      
      <div class="text-center justify-center">
        <p class="badge badge-primary">Technology Stack:</p>
      </div>
      <div class="text-center justify-end">
        
        <div class="badge badge-outline">Python</div> 
        <div class="badge badge-outline">JavaScript</div>
        <div class="badge badge-outline">Django</div>
        <div class="badge badge-outline">Tailwind CSS</div>
        <div class="badge badge-outline">DaisyUI</div>
        <div class="badge badge-outline">MySQL</div>
      </div>
    </div>
  </div>
