{% extends "base.html" %}

{% load static %}

{% block title %} Portfolios | Panzek {% endblock %}


{% block content %}
<!-- Projects Section -->
<div class="flex-col mx-auto glass hero-content">
  <h3 class="text-left text-2xl">Portfolio</h3>
</div>

<section class="flex-col lg:flex-row mx-auto glass hero-content">
  
  <div class="card lg:card-side bg-base-100">
    <figure><img src="https://img.daisyui.com/images/stock/photo-1494232410401-ad00d5433cfa.jpg" alt="Album"/></figure>
    <div class="card-body w-36">
      <h2 class="card-title">
        Bessie + Beau
      </h2>
      <span class="prose text-sm lg:text-base break-words">
        <p>
          We can create an ecommerce website (store or online reservation platform) that will set your 
          business apart and drive real results. Let us walk you through how your ecommerce site will work 
          and why choosing us, the right developer, is key to your success.
        </p>
        <p class="font-bold">
          Why We Can Build an Innovative and Effective eCommerce Store for Your Business:
        </p>
        <span class="badge badge-xs badge-neutral">Customized User Experience:</span> We will create a tailored design that aligns with your brand's identity, making your 
        website visually appealing and easy to navigate. We'll ensure the experience is intuitive from product search to checkout, 
        keeping users engaged and converting visitors into buyers.
        <span class="badge badge-xs badge-neutral"></span>Advanced Features for Growth: Whether you want advanced features like product recommendations based on AI, subscription models, 
        or integrating with social media for shopping directly via Instagram/Facebook, we can incorporate cutting-edge tools to boost 
        sales and improve customer satisfaction.
        <span class="badge badge-xs badge-neutral"></span>Secure and Scalable Architecture: Your ecommerce store will be built using secure, scalable technologies, whether 
        it's using platforms like Shopify, WooCommerce, or a custom-built solution with frameworks like Django with full 
        functionality to process orders and accept payments. We will ensure the site can handle growing traffic 
        and new features as your business expands.
        <span class="badge badge-xs badge-neutral"></span>Analytics & Insights: We will set up tracking tools so you can monitor sales trends, visitor behaviour, and marketing 
        effectiveness. By analysing customer interactions, you can optimize your site's performance and marketing strategies to continuously improve sales.
        
        Ongoing Support and Maintenance: An ecommerce site needs regular updates, security patches, and tweaks as your 
        business evolves. We will provide ongoing support to keep your store running smoothly, from adding new 
        features to resolving issues quickly.

        The Competitive Edge:
        <span class="badge badge-xs badge-neutral"></span>Conversion-focused Design: Every part of your store will be optimized to convert browsers into buyers. From smooth navigation 
        to one-click checkout, every detail matters in boosting sales.
        <span class="badge badge-xs badge-neutral"></span>Mobile-First Approach: As mobile shopping continues to grow, we will ensure your store is mobile-first, delivering 
        a seamless experience across all devices.
        <span class="badge badge-xs badge-neutral"></span>Fast Loading Speeds: Slow websites lose customers. We will implement best practices in coding, image optimization, 
        and caching so your site loads quickly and efficiently.

        By combining technical expertise with a deep understanding of ecommerce trends, we can build a store that,s not just functional, 
        but a key growth driver for your business. Let's build an ecommerce platform that engages your customers, builds loyalty, 
        and maximizes revenue for you.

      </span>
      
      <div class="text-center justify-center">
        <p class="badge badge-primary">Technology Stack:</p>
      </div>
      <div class="text-center justify-end">
        <div class="badge badge-outline">Python</div> 
        <div class="badge badge-outline">JavaScript</div>
        <div class="badge badge-outline">Django</div>
        <div class="badge badge-outline">Tailwind CSS</div>
        <div class="badge badge-outline">DaisyUI</div>
        <div class="badge badge-outline">MySQL</div>
      </div>
    </div>
  </div>

  <div class="card lg:card-side bg-base-100">
    <figure><img src="https://img.daisyui.com/images/stock/photo-1494232410401-ad00d5433cfa.jpg" alt="Album"/></figure>
    <div class="card-body w-36">
      <h2 class="card-title">
        CuisinePlus
      </h2>
      <span class="prose text-sm lg:text-base break-words">CuisinePlus is an online restaurant reservation platform for diners. 
        It provides full CRUD functionality reservations: users can create, read, update, and delete reservations.</span>
      
      <div class="text-center justify-center">
        <p class="badge badge-primary">Technology Stack:</p>
      </div>
      <div class="text-center justify-end">
        
        <div class="badge badge-outline">Python</div> 
        <div class="badge badge-outline">JavaScript</div>
        <div class="badge badge-outline">Django</div>
        <div class="badge badge-outline">Tailwind CSS</div>
        <div class="badge badge-outline">DaisyUI</div>
        <div class="badge badge-outline">MySQL</div>
      </div>
    </div>
  </div>

  {% endblock %}