{% extends "base.html" %}

{% load static %}

{% block title %} Panzek Solutions | Bespoke and Innovative Solutions! {% endblock %}

{% block content %}

<div class="hero">
    <div class="hero-content flex-col-reverse lg:flex-row max-w-screen-lg">
        <div>
            <div class="relative flex items-center">
                <div class="flex-grow border-t border-gray-400"></div>
                    <span class="flex-shrink text-3xl font-bold">Panzek Solutions</span>
                <div class="flex-grow border-t border-gray-400"></div><br>
            </div>
            <div class="flex-shrink text-1xl font-bold text-green-800 hover:text-green-500">Web.Integration.Hosting</div>
                <div class="py-6 text-left">
                    <div class="flex-shrink text-1xl font-normal hover:font-bold">
                        <span class="badge badge-xs badge-primary"></span>
                        Web Development
                    </div>
                    <div class="flex-shrink text-1xl font-normal hover:font-bold">
                        <span class="badge badge-xs badge-warning"></span>
                        eCommerce Store
                    </div>
                    <div class="flex-shrink text-1xl font-normal hover:font-bold">
                        <span class="badge badge-xs badge-secondary"></span>
                        CMS Integration
                    </div>
                    <div class="flex-shrink text-1xl font-normal hover:font-bold">
                        <span class="badge badge-xs badge-neutral"></span>
                        API Integration
                    </div>
                    <div class="flex-shrink text-1xl font-normal hover:font-bold">
                        <span class="badge badge-xs badge-info"></span>
                        Site Optimization
                    </div>
                    <div class="flex-shrink text-1xl font-normal hover:font-bold">
                        <span class="badge badge-xs badge-accent"></span>
                        Server Management
                    </div>
                    <div class="flex-shrink text-1xl font-normal hover:font-bold">
                        <span class="badge badge-xs badge-neutral"></span>
                        Web Hosting 
                    </div>
                    <div class="flex-shrink text-1xl font-normal hover:font-bold">
                        <span class="badge badge-xs badge-error"></span>
                        Chatbot
                    </div>
                    <p class="font-bold">
                        Let's build your awesome product with Panzek Solutions...
                    </p>
                </div> 
                <button class="btn btn-outline btn-success btn-xs sm:btn-sm md:btn-md lg:btn-lg xl:btn-xl text-1xl font-bold text-green-800 hover:text-green-500">
                    <i class="fa-solid fa-plus fa-lg"></i> Learn More
                </button>     
        </div>
        <img src="{{ MEDIA_URL }}panzek_hero.webp" alt="Hero Image" class="w-full">
    </div>
</div>

{% comment %} Solution entries column {% endcomment %}
<div class="container mx-auto py-6">
    <div class="relative flex items-center py-6">
        <div class="flex-grow border-t border-gray-400"></div>
            <span class="flex-shrink mx-4 text-5xl font-bold text-gray-400">Our Solutions</span>
        <div class="flex-grow border-t border-gray-400"></div><br>
    </div>
    <div class="hero">
        <div class="hero-content flex-col lg:flex-row items-stretch">
            {% for solution in solution_list %}
            <div class="card bg-base-100 w-full max-w-md shadow md:shadow-2xl lg:shadow-xl solutioncard" data-animate="fade-up" data-animate-delay="0.5">
                <figure>
                    {% if solution.image %}
                        <img src="{{ solution.image.url }}" alt="{{ solution.name }}" class="w-full h-48">
                    {% else %}
                        <div class="w-full h-48 bg-base-200 flex items-center justify-center text-sm text-gray-400">
                            No image
                        </div>
                    {% endif %}
                </figure>
                <div class="p-6 ">
                    <div class="card-actions">
                        <div class="card-title text-green-800 hover:text-green-500">
                            {{ solution.name }}
                        </div>
                        <div>
                            <div class="line-clamp-5" style="display: -webkit-box; -webkit-box-orient: vertical; overflow: hidden;">
                                {{ solution.get_truncated_description | safe }} 
                            </div>
                            <a href="{% url 'solution_detail' solution.id %}" class="font-medium text-blue-600 hover:link-primary">
                                <i class="fa-solid fa-plus fa-sm" style="color: #ff0000;"></i> Learn More
                            </a>
                        </div>      
                    </div>
                </div>
            </div>
            {% if forloop.counter|divisibleby:3 %}
        </div>
    </div>
    {# Start a new row here #}
    <div class="hero">
        <div class="hero-content flex-col lg:flex-row items-stretch">
            {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="hero mx-auto">
        <button class="btn btn-outline btn-success btn-xs sm:btn-sm md:btn-md lg:btn-lg xl:btn-xl text-1xl text-green-800 hover:text-green-500">
            View All Solutions >
        </button>
    </div>
    <div class="relative flex items-center mt-5 py-6">
        <div class="flex-grow border-t border-gray-400"></div>
            <span class="flex-shrink mx-4 text-5xl font-bold text-gray-400">Our Numbers Count...</span>
        <div class="flex-grow border-t border-gray-400"></div><br>
    </div>

    <!-- Stats -->
    <div x-data="gsapCounters()" x-intersect.once="animatedCounters()" class="hero-content flex-col lg:flex-row justify-around items-center text-center mx-auto py-6 bg-gray-50">
        <div>
            <div class="text-4xl font-bold text-green-800 hover:text-green-500">
                <span x-text="yearsInBusiness"></span>+
            </div>
            <div class="text-md text-gray-600 mt-2">Years in Business</div>
            <div class="text-sm text-gray-600 mt-2">Creating successful path</div>
        </div>
        <div>
            <div class="text-4xl font-bold text-green-800 hover:text-green-500">
                <span x-text="solutionsDelivered"></span>+
            </div>
            <div class="text-md text-gray-600 mt-2">Solutions Delivered</div>
            <div class="text-sm text-gray-600 mt-2">In the last 4 years</div>
        </div>
        <div>
            <div class="text-4xl font-bold text-green-800 hover:text-green-500" x-text="teamMembers"></div>
            <div class="text-md text-gray-600 mt-2">Team Members</div>
            <div class="text-sm text-gray-600 mt-2">Building your bespoke Solutions</div>
        </div>
    </div>

    <!-- About Us brief -->
    <div class="card hero-content max-w-md bg-base-100 mx-auto justify-end mt-5">
        <span class="flex-shrink text-xl font-bold">About Panzek Solutions</span>
        <div class="card-actions line-clamp-3">
            <article>
                <p>
                At <span class="font-bold">Panzek Solutions</span>, we help businesses turn ideas into powerful 
                digital solutions. As a <span class="font-bold">full stack development company</span>, we specialize in 
                building <span class="font-bold">secure, scalable, and user-friendly applications</span> that 
                solve real-world problems and drive business growth.
            </p>
            <p>
                Our team combines deep technical expertise in <span class="font-bold">Python, JavaScript, Django, 
                jQuery</span>, and <span class="font-bold">modern front-end technologies</span> to deliver seamless web and mobile 
                experiences. On the back end, we design <span class="font-bold">high-performance systems</span> using 
                <span class="font-bold">MySQL, PostgreSQL</span>, and <span class="font-bold">Linux</span>, supported by 
                <span class="font-bold">cloud-based infrastructure on Amazon AWS</span>.
            </p>
            </article> 
        </div>
        <div class="flex justify-end">
            <a href="{% url 'about' %}" class="font-medium text-blue-600 hover:link-primary">
                <i class="fa-solid fa-plus fa-sm" style="color: #ff0000;"></i> Learn More
            </a>
        </div>
    </div>
</div>

{% endblock %}