{% extends "base.html" %}

{% load static %}

{% block title %} Panzek Solutions | No Failures, Just Learning Curves! {% endblock %}

{% block content %}

<div class="hero">
    <div class="hero-content flex-col-reverse lg:flex-row max-w-screen-lg">
        <div>
            <div class="relative flex items-center">
                <div class="flex-grow border-t border-gray-400"></div>
                    <span class="flex-shrink text-3xl font-bold">Panzek Solutions</span>
                <div class="flex-grow border-t border-gray-400"></div><br>
            </div>
            <div class="flex-shrink text-1xl font-bold text-green-800 hover:text-green-500">Web.Integration.Hosting</div>
                <div class="py-6 text-left">
                    <div class="flex-shrink text-1xl font-normal hover:font-bold">
                        <span class="badge badge-xs badge-primary"></span>
                        Web Development
                    </div>
                    <div class="flex-shrink text-1xl font-normal hover:font-bold">
                        <span class="badge badge-xs badge-warning"></span>
                        eCommerce
                    </div>
                    <div class="flex-shrink text-1xl font-normal hover:font-bold">
                        <span class="badge badge-xs badge-secondary"></span>
                        CMS Integration
                    </div>
                    <div class="flex-shrink text-1xl font-normal hover:font-bold">
                        <span class="badge badge-xs badge-neutral"></span>
                        API Integration
                    </div>
                    <div class="flex-shrink text-1xl font-normal hover:font-bold">
                        <span class="badge badge-xs badge-info"></span>
                        Site Optimization
                    </div>
                    <div class="flex-shrink text-1xl font-normal hover:font-bold">
                        <span class="badge badge-xs badge-error"></span>
                        Web Hosting
                    </div>
                    <p class="font-bold">
                        Let's build your awesome product with Panzek Solutions...
                    </p>
                </div>
                <button class="btn sm:btn-sm md:btn-md lg:btn-lg bg-green-500 hover:bg-green-400">Get Started</button>
        </div>
        <img src="{{ MEDIA_URL }}panzek_hero.webp" alt="Hero Image">
    </div>
</div>

<div class="container mx-auto">
    <div class="relative flex items-center py-6">
        <div class="flex-grow border-t border-gray-400"></div>
            <span class="flex-shrink mx-4 text-5xl font-bold text-gray-400">Our Solutions</span>
        <div class="flex-grow border-t border-gray-400"></div><br>
    </div>
      <div class="columns-3 ...">
          <div class="py-6">Full Stack Software Developer, AI enthusiast, Scholar, Thinker, Literary critic...
            Skilled in modern technologies and tools: Python, JavaScript, Django, jQuery, ReactJS,
            NGINX, PostgreSQL, MySQL, Bootstrap, TailwindCSS, DaisyUI, CSS3, HTML5, Git Version Control and principles of
            Agile Development.
          </div>
          <div>
              I have utilised these skills in developing functional responsive websites and
            complex web applications, and contributing to Hackathons. A quick learner, passionate about coding
            education and community service...
          </div>
          <div>
              <button class="glass btn sm:btn-sm md:btn-md lg:btn-lg bg-base-200">Contact me</button>
          </div>
      </div>
</div>

{% endblock %}