{% extends "base.html" %}

{% load static %}

{% block title %} Panzek - No Failures, Just Learning Curves! {% endblock %}

{% block content %}

<div class="hero">
  <div class="hero-content flex-col-reverse lg:flex-row max-w-screen-lg">
    <div>
      <div class="relative flex items-center">
            <div class="flex-grow border-t border-gray-400"></div>
                <span class="flex-shrink text-5xl font-bold">Panzek Solutions</span>
            <div class="flex-grow border-t border-gray-400"></div><br>
      </div>
        <p class="flex-shrink text-1xl font-bold text-green-800 hover:text-green-500">Web.Mobile.Apps</p>
          <p class="py-6">
            Skilled in modern technologies and tools: Python, JavaScript, Django, jQuery, ReactJS,
                NGINX, PostgreSQL, MySQL, Bootstrap, TailwindCSS, DaisyUI, CSS3, HTML5, Git Version Control and principles of
                Agile Development.
          </p>
          <button class="btn sm:btn-sm md:btn-md lg:btn-lg bg-green-500 hover:bg-green-400 bg-success-content">Get Started</button>
    </div>
      <img src="{% static 'panzek_hero.webp' %}" alt="Hero Image">
  </div>
</div>

<div class="hero bg-base-200">
  <div class="hero-content flex-col lg:flex-row-reverse">

    <div>
        <div class="relative flex items-center">
            <div class="flex-grow border-t border-gray-400"></div>
            <span class="flex-shrink mx-4 text-5xl font-bold text-gray-400">Services</span>
            <div class="flex-grow border-t border-gray-400"></div><br>
        </div>
        <p class="py-6">Full Stack Software Developer, AI enthusiast, Scholar, Thinker, Literary critic...
            Skilled in modern technologies and tools: Python, JavaScript, Django, jQuery, ReactJS,
            NGINX, PostgreSQL, MySQL, Bootstrap, TailwindCSS, DaisyUI, CSS3, HTML5, Git Version Control and principles of
            Agile Development. I have utilised these skills in developing functional responsive websites and
            complex web applications, and contributing to Hackathons. A quick learner, passionate about coding
            education and community service...</p>
        <button class="glass btn sm:btn-sm md:btn-md lg:btn-lg bg-base-200">Contact me</button>
    </div>
  </div>
</div>

<div class="container mx-auto">
    <div class="relative flex items-center py-6">
        <div class="flex-grow border-t border-gray-400"></div>
            <span class="flex-shrink mx-4 text-5xl font-bold text-gray-400">Services</span>
        <div class="flex-grow border-t border-gray-400"></div><br>
    </div>
      <div class="columns-3 ...">

      </div>
</div>

{% endblock %}