{% extends 'base.html' %}
{% load static %}

{% block title %} Thank You! | Panzek Solutions {% endblock %}

{% block content %}

<div class="hero">
    <div class="hero-content flex-col lg:flex-row items-stretch">
        <div class="card bg-base-100 w-full max-w-md shadow-2xl">
            <figure>
                <img src="{{ MEDIA_URL }}panzek_hero.webp" alt="Hero Image">
            </figure>
            <div class="p-6">
                <div class="card-actions justify-center">
                <h2 class="card-title font-bold text-green-800">Thank You for Getting in Touch!</h2>
                </div>
                <div class="card-actions justify-center py-6">
                    <div>We have received your message and would like to thank you for writing to us.
                        We'll reply by email as soon as possible. If your inquiry is urgent text us on WhatsApp to chat with one of our staff members.
                        <div class="py-6 text-center">
                            <p><i class="fa-brands fa-square-whatsapp fa-xl"></i> WhatsApp us:</p>
                            <p class="text-1xl font-bold">+353-877911985</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
