core.Microsoft*
core.mongo*
core.python*
.vscode/
.idea/
.env
.venv/
venv/
.python-version
setup_env.sh
/staticfiles/
/build/
/__pycache__/
*.py[cod]
*$py.class
/node_modules/
/.github/
cloudinary_python.txt