{% extends 'base.html' %}
{% load static %}

<!--{% load tailwind_filters %}-->
{% load crispy_forms_tags %}

{% block title %} Solutions Management | Panzek Solutions {% endblock %}

{% block content %}

<div class="hero py-6">
    <div class="hero-content w-full flex-col py-6 lg:flex-row bg-base-200 rounded-lg">
      <h2 class="mb-4">Solution Management</h2>
      <h5 class="text-muted">Add a Solution</h5>
      <div class="card bg-base-100 w-full max-w-md shrink-0 ">
        <form class="card-body" action="{% url 'add_solution' %}" method="POST" enctype="multipart/form-data">
          <div class="form-control">
              {% csrf_token %}
              {{ form|crispy }}
          </div>
          <div class="card-actions justify-center">
            <a class="btn w-24 bg-base-300" href="{% url 'solutions' %}">Cancel</a>
            <button type="submit" class="btn w-24 btn-primary">Save</button>
          </div>
        </form>
      </div>
    </div>
</div>

{% endblock %}