{% extends 'base.html' %}
{% load static %}


{% block title %} {{ solution.name }} | Panzek Solutions {% endblock %}

{% block content %}

<div class="container mx-auto py-6">
    <div class="relative flex items-center py-6">
        <span class="flex-shrink text-5xl font-bold text-gray-400 mx-auto">{{ solution.name }}</span>
    </div>
    <div class="hero">
        <div class="flex flex-col max-w-screen-lg shadow-2xl">
            <div>
                <figure>
                    <img src="{{ solution.image.url }}" alt="{{ solution.name }}">
                </figure>
            </div>
            <div class="p-6">
                <div class="card-actions rounded-box shadow justify-center">
                <!-- <div class="prose prose-lg p-6 rounded-box shadow justify-center"> -->
                    <p> {{ solution.description | safe }}</p>
                </div>
                <div class="card-actions flex flex-col items-center py-6">
                    <h4 class="card-title">Tech Stack</h4>
                    <ul class="card-actions flex flex-wrap justify-center">
                        {% for tech in tech_stack_list %}
                        <li class="badge badge-ghost rounded-lg bordered px-2 py-3">
                            {{ tech | title }}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}