{% extends 'base.html' %}
{% load static %}

<!--{% load tailwind_filters %}-->
{% load crispy_forms_tags %}

{% block title %} {{ solution.name }} | Panzek Solutions {% endblock %}

{% block content %}

<div class="card bg-base-100 w-full max-w-lg py-6 mt-3 mb-3 mx-auto shadow-2xl">
    <div class="card-title mx-auto text-2xl">Edit {{ solution.name }}</div>
    <!-- Required for styling/js to make ckeditor5 work -->
    {{ form.media }} 
    <form class="card-body" action="{% url 'solution_edit' solution.id %}" method="POST" enctype="multipart/form-data">
        <div class="form-control">
            {% csrf_token %}
            {{ form|crispy }}
        </div>
        <div class="card-actions justify-center">
            <a class="btn w-24 bg-base-300 sm:btn-sm md:btn-md" href="{% url 'solutions' %}">Cancel</a>
            <button type="submit" class="btn w-24 btn-primary">Update Solution</button>
        </div>
    </form>
</div>

{% endblock %}