{% extends 'base.html' %}
{% load static %}


{% block title %} {{ solution.name }} | Panzek Solutions {% endblock %}

{% block content %}

<div class="container mx-auto py-6">
    <div class="relative flex items-center py-6">
        <span class="flex-shrink text-4xl font-bold text-gray-400 mx-auto">{{ solution.name }}</span>
    </div>
    <div class="hero">
        <div class="flex flex-col max-w-3xl rounded-box shadow">
            <div class="justify-center mx-auto">
                <figure>
                    {% if solution.image %}
                        <img src="{{ solution.image.url }}" alt="{{ solution.name }}">
                    {% else %}
                        <div class="w-full bg-base-200 flex items-center justify-center text-sm text-gray-400">
                            No image
                        </div>
                    {% endif %}
                </figure>
            </div>
            <div class="p-2 mb-2">
                <article class="card-actions mx-auto px-2 text-md md:text-md lg:text-lg text-left">
                    <p class="mb-2"> {{ solution.description | safe }}</p>
                </article>
            </div>
            <div class="card-actions max-w-sm flex flex-col items-center mx-auto py-6 mb-3">
                <h4 class="card-title text-green-800 hover:text-green-500"><i class="fa-solid fa-code fa-xl" style="color: #63E6BE;"></i>Built with ...</h4>
                <div>
                    <ul class="card-actions flex flex-wrap justify-center">
                        {% for tech in tech_stack_list %}
                        <li class="badge badge-ghost rounded-lg bordered px-2 py-3">
                            {{ tech | title }}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}