{% extends 'base.html' %}
{% load static %}


{% block title %} Our Solutions | Panzek Solutions {% endblock %}

{% block content %}

<div class="container mx-auto">
    <div class="relative flex items-center py-6">
        <span class="flex-shrink text-5xl font-bold text-gray-400 mx-auto">Our Solutions</span>
    </div>
    <div class="hero">
        <div class="hero-content flex-col lg:flex-row items-stretch">
            {% for solution in solution_list %}
            <div class="card bg-base-100 w-full max-w-md shadow">
                <figure>
                    {% if solution.image %}
                        <img src="{{ solution.image.url }}" alt="{{ solution.name }}" class="w-full h-48">
                    {% else %}
                        <div class="w-full h-48 bg-base-200 flex items-center justify-center text-sm text-gray-400">
                            No image
                        </div>
                    {% endif %}
                </figure>
                <div class="p-3">
                    <div class="card-actions px-1">
                        <div class="card-title text-green-800 hover:text-green-500">
                            {{ solution.name }}
                        </div>
                        <div class="mb-5">
                            <div class="line-clamp-5 text-md md:text-md lg:text-lg text-left" style="display: -webkit-box; -webkit-box-orient: vertical; overflow: hidden;">
                                {{ solution.get_truncated_description | safe }} 
                            </div>
                                <a href="{% url 'solution_detail' solution.id %}" class="font-medium text-green-800 hover:text-green-500">
                                    <i class="fa-solid fa-plus fa-xs" style="color: #ff0000;"></i> Learn More
                                </a>
                        </div>               
                    </div>
                </div>
                <div class="card-actions justify-center py-1">
                    {% if request.user.is_superuser %}
                    <hr>
                    <!-- Edit Solutions  -->
                    <a href="{% url 'solution_edit' solution.id %}" class="text-1xl text-green-800 hover:text-green-500">Edit</a>
                    |
                    <!-- Delete Solutions -->
                    <a href="{% url 'solution_delete' solution.id %}" class="text-bold text-1xl text-red-500">
                        Delete
                    </a>
                    {% endif %}
                </div>
            </div>
            {% if forloop.counter|divisibleby:3 %}
        </div>
    </div>
    {# Start a new row here #}
    <div class="hero">
        <div class="hero-content flex-col lg:flex-row items-stretch">
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}