{% extends 'base.html' %}
{% load static %}

<!--{% load tailwind_filters %}-->
{% load crispy_forms_tags %}

{% block title %} Solutions Management | Panzek Solutions {% endblock %}

{% block content %}

<div class="hero py-6">
    <div class="hero-content w-full flex-col py-6 lg:flex-row bg-base-100 rounded-lg">
        <div class="card bg-base-100 w-full max-w-md shrink-0 shadow-2xl">
            <div class="card-title py-6 mx-auto text-2xl">Solution Management</div>
            <hr/>
            <form class="card-body" action="{% url 'add_solution' %}" method="POST" enctype="multipart/form-data">
                <div class="form-control">
                    {% csrf_token %}
                    {{ form|crispy }}
                </div>
                <div class="card-actions justify-center">
                    <a class="btn w-24 bg-base-300" href="{% url 'solutions' %}">Cancel</a>
                    <button type="submit" class="btn w-24 btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}