{% extends 'base.html' %}
{% load static %}


{% block title %} Our Solutions | Panzek Solutions {% endblock %}

{% block content %}

<div class="container mx-auto">
    <div class="relative flex items-center py-6">
        <span class="flex-shrink text-5xl font-bold text-gray-400 mx-auto">Our Solutions</span>
    </div>
    <div class="hero">
        <div class="hero-content flex-col lg:flex-row items-stretch">
            {% for solution in solution_list %}
            <div class="card bg-base-100 w-full max-w-md shadow-2xl">
                <figure>
                    <img src="{{ solution.image.url }}" alt="{{ solution.name }}">
                </figure>
                <div class="p-6 ">
                    <div class="card-actions justify-center">
                    <h2 class="card-title"> {{ solution.name }} </h2>
                    <p>
                        {{ solution.description }}<a href="{% url 'solution_detail' solution.id %}"> ...More</a>
                    </p>
                    </div>
                    <div class="card-actions justify-center py-6">
                        <h4 class="card-title">Tech Stack</h4>
                        <ul class="card-actions justify-center">
                            {% for tech in solution.tech_stack %}
                            <li class="badge badge-primary badge-outline sm:badge-sm md:badge-md lg:badge-lg">
                                {{ tech }}
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="card-actions justify-center py-6">
                    {% if request.user.is_superuser %}
                    <hr>
                    <!-- Edit Solutions  -->
                    <a href="{% url 'solution_edit' solution.id %}" class="text-1xl text-green-800 hover:text-green-500">Edit</a>
                    |
                    <!-- Delete Solutions -->
                    <a href="{{ solution.id }}" class="text-bold text-1xl text-red-500">
                        Delete
                    </a>
                    {% endif %}
                </div>
            </div>
            {% if forloop.counter|divisibleby:3 %}
        </div>
    </div>
    {# Start a new row here #}
    <div class="hero-content flex-col lg:flex-row items-stretch">
        {% endif %}
        {% endfor %}
    </div>
</div>

{% endblock %}