{% extends 'base.html' %}
{% load static %}

<!--{% load tailwind_filters %}-->
{% load crispy_forms_tags %}

{% block title %} Solutions List | Panzek Solutions {% endblock %}

{% block content %}

<div class="card bg-base-100 w-96 shadow-xl">
    <h3> Our Solutions </h3>
    {% for solution in solution_list %}
    <figure>
        <img
                src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp"
                alt="Shoes" />
    </figure>
    <div class="card-body">
        <h2 class="card-title">
            {{ solution.name }}
        </h2>
        <p> {{solution.description }}</p>
        <div class="card-actions justify-end">
            <div class="badge badge-outline">{{ solution.tech_stack }}</div>
            <div class="badge badge-outline">Products</div>
        </div>
    </div>
    {% if forloop.counter|divisibleby:4 %}
    <div>
    {% endif %}
    {% endfor %}
    </div>
</div>

{% endblock %}