{% extends 'base.html' %}

{% load static %}

{% block title %} AI-Powered Chatbot | Panzek Solutions {% endblock %}

{% block content %}

<style>
    #chatbox {
        width: 300px;
        height: 400px;
        border: 1px solid #d1d5db; /* Gray-300 */
        border-radius: 0.375rem; /* Rounded-md */
        padding: 1rem;
        overflow-y: auto;
        background-color: #0f0f8b; /* Gray-50 */
    }
    .message {
        margin: 5px 0;
    }
    .message.user {
        font-weight: bold;
    }
    .message.bot {
        font-weight: normal;
        color: #16a34a; /* Green-600 */
    }
</style>

<div class="hero">
    <div class="hero-content flex-col lg:flex-row items-stretch">
        <div class="card bg-base-100 w-full max-w-md shadow-2xl">
            <figure>
                <img src="{{ MEDIA_URL }}panzek_hero.webp" alt="Hero Image">
            </figure>
            <div class="p-6">
                <div class="card-actions justify-center">
                <h2 class="card-title font-bold text-green-800">Chats</h2>
                <p class="text-center">Chat with our AI-powered chatbot for quick answers to your questions.</p>
                </div>
                <div class="card-actions justify-center py-2"></div>
                
                <div class="flex flex-col justify-center items-center mt-2">
                <input type="text" id="message" placeholder="Type your message..." autocomplete="off" />
                <div id="chatbot">Message Here</div>
                <p>
                    <button class="btn btn-success gap-2 mt-6">Start Chat</button>
                </p>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}