<!-- Footer -->
<div class="mt-auto">
  <footer class="footer items-center p-4 bg-neutral text-neutral-content"> 
    <!-- Copyrights -->
    <aside class="items-center place-self-center md:justify-self-start grid-flow-col">
      <p> © Panzek 2024 - All right reserved</p>
    </aside> 
    <!-- Social Networks  -->
    <nav class="grid-flow-col gap-4 p-2 place-self-center md:justify-self-end"> 
      <a href="https://twitter.com/ipanzek" target="_blank" rel="noopener" aria-label="Go to Panzek's Twitter page (opens new tab on third party site)" title="Twitter">
          <span style="font-size: 2em;" class="p-3">
              <i class="fa-brands fa-twitter fa-sm" aria-hidden="true"></i>
          </span>
          <span class="sr-only">Twitter</span>
      </a>
      <a href="https://linkedin.com/in/panzek/" target="_blank" rel="noopener" aria-label="Go to Panzek's LinkedIn page (opens new tab on third party site)" title="LinkedIn">
          <span style="font-size: 2em;" class="p-3">
              <i class="fa-brands fa-linkedin fa-sm" aria-hidden="true"></i>
          </span>
          <span class="sr-only">LinkedIn</span>
      </a>
      <a href="https://github.com/panzek" target="_blank" rel="noopener" aria-label="Go to Panzek's GitHub page (opens new tab on third party site)" title="GitHub">
          <span style="font-size: 2em;" class="p-3">
              <i class="fab fa-github-square fa-sm" aria-hidden="true"></i>
          </span>
          <span class="sr-only">GitHub</span>
      </a>
    </nav>
  </footer>
</div>