<!-- Footer -->
<div class="flex flex-col mt-auto">
  <footer class="footer items-center p-4 bg-neutral text-neutral-content"> 
    <!-- Copyrights -->
    <aside class="items-center place-self-center md:justify-self-start grid-flow-col">
      <p> &copy; {{ current_year }} Panzek Solutions. All Rights Reserved.</p>
    </aside> 
    <!-- Office Address -->
    <nav class="flex flex-col p-2 place-self-center items-center text-center"> 
      <div class="text-sm md:text-md lg:text-lg font-bold">Office Address</div>
      <address class="mb-5 not-italic">
        <p>51 Bracken Road, Sandyford</p>
        <p>Dublin D18 CV48, Ireland</p>
        <a href="mailto:info@panzeksolutions.com">info@panzeksolutions.com</a>
      </address>
    </nav>
    <!-- Social Networks  -->
    <nav class="grid-flow-col gap-4 p-2 place-self-center md:justify-self-end"> 
      <a href="https://x.com/panzeksolutions" target="_blank" rel="noopener" aria-label="Go to Panzek Solutions' X page (opens new tab on third party site)" title="X (Twitter)">
          <span style="font-size: 2em;" class="p-3">
              <i class="fa-brands fa-twitter fa-sm" aria-hidden="true"></i>
          </span>
          <span class="sr-only">Twitter</span>
      </a>
      <a href="https://tiktok.com/@panzeksolutions/" target="_blank" rel="noopener" aria-label="Go to Panzek Solutions' TikTok page (opens new tab on third party site)" title="TikTok">
          <span style="font-size: 2em;" class="p-3">
              <i class="fa-brands fa-tiktok fa-sm" aria-hidden="true"></i>
          </span>
          <span class="sr-only">TikTok</span>
      </a>
      <a href="https://instagram.com/panzeksolutions" target="_blank" rel="noopener" aria-label="Go to Panzek Solutions' Instagram page (opens new tab on third party site)" title="Instagram">
          <span style="font-size: 2em;" class="p-3">
              <i class="fa-brands fa-square-instagram fa-sm" aria-hidden="true"></i>
          </span>
          <span class="sr-only">Instagram</span>
      </a>
      <a href="https://facebook.com/panzeksolutions" target="_blank" rel="noopener" aria-label="Go to Panzek Solutions' Facebook page (opens new tab on third party site)" title="Facebook">
          <span style="font-size: 2em;" class="p-3">
              <i class="fa-brands fa-square-facebook fa-sm" aria-hidden="true"></i>
          </span>
          <span class="sr-only">Facebook</span>
      </a>
    </nav>
  </footer>
</div>
