{% load static tailwind_tags %}
<!DOCTYPE html>
<html data-theme="emerald" lang="en">
	<head>
		<!-- Required meta tags -->
    	{% block meta %}
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0 shrink-to-fit=no" />
		<meta name="description" content="Panzek Solutions - Bespoke and Innovative" />
		<meta name="keywords" content="Panzek Solutions, web development, eCommerce, site optimization, server management, CMS integration" />
		<meta name="theme-color" content="66cc8a" />
		<meta name="mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="66cc8a" />
		<meta name="google-site-verification" content="O67R-Z1bUBAae68VWIst0mGHpl0uhoE5ZjYifPUhLxA" />
		{% endblock %}
		<title>{% block title %} {% endblock %}</title>

		{% block extra_meta %} {% endblock %}

		{% tailwind_css %}
		<link href="{% static 'css/base.css' %}" rel="stylesheet">
		<!-- JavaScript -->
		{% block corejs %}
        <script src="https://kit.fontawesome.com/57e22c6356.js" crossorigin="anonymous"></script>
        <!-- Load GSAP, ScrollTrigger, and Alpine -->
        <script src="{% static 'vendor/gsap.min.js' %}"></script>
        <script src="{% static 'vendor/ScrollTrigger.min.js' %}"></script>
		<script src="{% static 'vendor/alpine.min.js' %}" defer></script>
		{% endblock %}

		<!-- Favicon  -->
        <link rel="icon" type="image/png" sizes="192x192" href="{{ MEDIA_URL }}favicons/android-chrome.png">
        <link rel="icon" type="image/png" sizes="180x180" href="{{ MEDIA_URL }}favicons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ MEDIA_URL }}favicons/favicon.png" />
	</head>

	<body class="flex flex-col bg-base-100 min-h-screen text-center sm:text-left">
		<div class="drawer">
			<input id="my-drawer-3" type="checkbox" class="drawer-toggle z-index" /> 
			<div class="drawer-content flex flex-col">
				<!-- Navbar -->
				<div class="w-full navbar bg-base-100 mb-auto shadow">
					<div class="flex-none lg:hidden">
						<label for="my-drawer-3" aria-label="open sidebar" class="btn btn-circle btn-ghost swap swap-rotate">
							<svg
								class="swap-off fill-current"
								xmlns="http://www.w3.org/2000/svg"
								width="32"
								height="32"
								viewBox="0 0 512 512">
							<path d="M64,384H448V341.33H64Zm0-106.67H448V234.67H64ZM64,128v42.67H448V128Z" />
							</svg>
						</label>
					</div> 
					<div class="flex-1 px-2 mx-2 text-xl">
						<a href="{% url 'home' %}" class="mx-auto lg:mx-2">
							<img src="{{ MEDIA_URL }}panzeksolutions_logo.webp" alt="Panzek Solutions logo">
						</a>
					</div>
					<div class="flex-none hidden lg:block">
						<ul class="menu menu-horizontal">
							<!-- Navbar menu content -->
							<li>
								<a href="{% url 'home' %}" class="tooltip tooltip-bottom tooltip-primary" data-tip="Home">Home</a>
							</li>
							<li>
								<details>
									<summary>
										<a href="{% url 'solutions' %}" class="tooltip tooltip-bottom tooltip-primary" data-tip="Solutions">Our Solutions</a>
									</summary>
									<ul class="menu menu-sm p-2 bg-base-100 rounded-t-none w-24">
										{% if user.is_superuser %}
										<li><a href="{% url 'add_solution' %}">Manage Solutions</a></li>
										{% endif %}
									</ul>
								</details>
							</li>
							<li>
								<a href="{% url 'contact' %}" class="tooltip tooltip-bottom tooltip-primary" data-tip="Contact">Contact</a>
							</li>
							<li>
								<a href="{% url 'about' %}" class="tooltip tooltip-bottom tooltip-primary" data-tip="About">About</a>
							</li>
						</ul>
					</div>
				</div>
			  	<!-- Page content here -->

			  	<!-- Main -->
				<main class="my-auto">
					{% block content %}
					{% endblock %}
				</main>
				
			</div> 
			<div class="drawer-side">
				{% include 'includes/mobile_nav.html' %}
			</div>
		</div>
	<!-- Load Alpine and Custom scripts -->
    <script src="{% static 'js/animations.js' %}"></script>
	<!-- Footer -->
	{% include 'includes/footer.html' %}
	</body>
</html>