{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
	<head>
    <title>Panzek - Personal Portfolio</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		{% tailwind_css %}
	</head>

	<body class="bg-gray-50 font-serif leading-normal tracking-normal">
        
		<!-- Navigation -->
		<div class="container mx-auto">
			<section class="flex items-center justify-center h-screen">
				<div class="navbar bg-base-100">
					<div class="flex-1">
					  <a class="btn btn-ghost text-xl">Panzek</a>
					</div>
					<div class="flex-none gap-2">
					  <div class="dropdown dropdown-end">
						<div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
						  <div class="w-10 rounded-full">
							<img alt="Portfolio Image" src="" />
						  </div>
						</div>
						<ul tabindex="0" class="mt-3 z-[1] p-2 shadow menu menu-sm dropdown-content bg-base-100 rounded-box w-52">
							<li><a>Home</a></li>
							<li><a>Portfolio</a></li>
							<li><a>Blog</a></li>
							<li>
								<a class="justify-between">
								About
								<span class="badge">New</span>
								</a>
							</li>
							<li><a>Contact</a></li>
							<li><a>Hire Me</a></li>
						</ul>
					  </div>
					</div>
				  </div>
			</section>
		</div>

		<!-- Main -->
		<main>
			{% block content %}
			{% endblock %}
		</main>

	</body>
</html>