{% extends 'base.html' %}
{% load static %}

<!--{% load tailwind_filters %}-->
{% load crispy_forms_tags %}

{% block title %} Contact Us | Panzek Solutions {% endblock %}

{% block content %}

<div class="hero py-6">
    <div class="hero-content w-full flex-col py-6 lg:flex-row bg-base-200 rounded-lg">
        <div class="bg-green-500 w-full py-6 sm:text-left rounded ">
            <div class="flex-shrink bg-base-100 text-1xl text-center">
                <div>
                    <h1 class="text-5xl font-bold">Get in Touch</h1>
                    <p>
                        We design bespoke and innovative Solutions!
                    </p>
                </div>
                <div class="py-6">
                    <p><i class="fa-solid fa-envelope-circle-check"></i> Email Address:</p>
                    <p class="text-1xl font-bold">info@panzeksolutions.com</p>
                </div>
                <div>
                    <div class="grid-flow-col gap-4 place-self-center md:justify-self-end">
                        <p>Socials:</p>
                      <a href="https://twitter.com/ipanzek" target="_blank" rel="noopener" aria-label="Go to Panzek's Twitter page (opens new tab on third party site)" title="Twitter">
                          <span style="font-size: 2em;" class="p-3">
                              <i class="fa-brands fa-twitter fa-sm" aria-hidden="true"></i>
                          </span>
                          <span class="sr-only">Twitter</span>
                      </a>
                      <a href="https://linkedin.com/in/panzek/" target="_blank" rel="noopener" aria-label="Go to Panzek's LinkedIn page (opens new tab on third party site)" title="LinkedIn">
                          <span style="font-size: 2em;" class="p-3">
                              <i class="fa-brands fa-linkedin fa-sm" aria-hidden="true"></i>
                          </span>
                          <span class="sr-only">LinkedIn</span>
                      </a>
                      <a href="https://github.com/panzek" target="_blank" rel="noopener" aria-label="Go to Panzek's GitHub page (opens new tab on third party site)" title="GitHub">
                          <span style="font-size: 2em;" class="p-3">
                              <i class="fab fa-github-square fa-sm" aria-hidden="true"></i>
                          </span>
                          <span class="sr-only">GitHub</span>
                      </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card bg-base-100 w-full max-w-md shrink-0 ">
            <form action="{% url 'contact' %}" method="POST" class="card-body">
               <div class="form-control">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="card-actions justify-center">
                        <button type="reset" class="btn w-24 bg-base-300">Cancel</button>
                        <button type="submit" name="submit_my_form" class="btn w-24 btn-primary">Send</button>
                    </div>
               </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}